* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
}

main .shekveta {
    background-color: #000000;
    width: 600px;
    font-size: 26px;
    height: 44px;
    color: #ffffff;
    margin-left: 630px;
    border-radius: 10px;
    margin-top: 58px;
    text-align: center;
    padding: 5px;
  
}

main form {
    display: flex;
    flex-direction: column;
    width: 600px;
    /* height: 50px; */
    margin-left: 630px;
    margin-top: 40px;
    
}

main form input {
    margin-bottom: 10px;
    background-color: rgba( 0, 0, 0, 0.3);
    height: 44px;
    border-radius: 5px;
    border: none;
    outline: none;
    
}
main form textarea {
    background-color: rgba(2.5, 2.5, 2.5, 0.3);
    border-radius: 5px;
    
}
main ::placeholder{
    color: #000000;
    font-size: 16px;
    padding-left: 6px;
}
main form p {
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    margin-top: 6px;
    
}
main form label{
    margin-bottom: 6px;
    font-size: 12px;
    font-weight: bold;
}



.check {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 40px;
}



.check label {
    margin-left: 20px;
    margin-top: 18px;

}
.check input {
    margin-left: 40px;
    
}
input[type="submit"] {
    background-color: #01AF8C;
    font-size: 16px;
}
 
   
    
/*---------------order--------------*/

.order {
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
}

.text {
    width: 750px;
    height: 394px;
    margin-left: 600px;
    margin-top: 56px;
    background-color: #000000;
    border-radius: 18px;
    border: 1px solid #000000;
}
.text h2 , .text h3 {
    color: #ffffff;
    text-align: center;
    padding: 40px;
   
}
.order input {
    width: 750px;
    height: 70px;
    border-radius: 18px;
    border: none;
    outline: none;
    margin-left: 600px;
    margin-top: 200px;
    background-color: #F5BA22;
    text-align: center;
}
